<!doctype html>
    <html lang="en">
      <head>
        <link rel="stylesheet" href="static\css\style.css">
      </head>
      <body>
        <div class="rectangle">
          <h1 class="portal" >STUDENT FORUM</h1>
        </div>
        <br>
        <div class="loginbox">
          <h1>Sign In</h1>
          <form method="POST" class="container">
              <label>Email</label>
              <input type="text" placeholder="Enter your Email" name="email">
              <label>Password</label>
              <input type="password" placeholder="Enter password" name="password">
              <div>
                {{message}}
              </div> <br>
              <button id="button" type="submit">Sign In</button>
          </form>
        <br>
        <p class="para-2">Not have an account? <a href="/">Sign Up Here</a><br>
        </p>
      </div>
           
      </body>
    </html>














